.imgSize:hover{
    transform: scale(1.1);
}

.caracterButton:hover{
    transform: scale(1.1);
    background-color: white;
}

.caracterName:hover{
    transform: scale(1.1);
    color: black;
    font-weight: bold;
}

.choiceButton:hover{
    color: #d14952;
}

.buttonGameOver:hover{
    transform: scale(1.1);
}

.aHoverGO:hover{
    color: #d14952;
}