@media (max-width: 768px) {
  body {
    background-image: url(../assets/img/mainBackground.png);
    width: 100vw;
    height: 100%;
  }

  .welcome > h2 {
    font-size: 20px;
    display: flex;
    text-align: center;
  }
  .bgTomHolland {
    background-image: url(../assets/img/bgHollandParker.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }

  .bgWinHolland {
    background-image: url(../assets/img/bgWinHolland.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .bgGameOverHolland {
    background-image: url(../assets/img/bg.HollandameOver.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  .bgGarfield {
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
  }

  .bgMorales {
    background-image: url(../assets/img/backgroundSpiderManMilesMorales.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  .bgWinMorales {
    background-image: url(../assets/img/bgWinMM.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .bgGameOverMorales {
    background-image: url(../assets/img/bgGameOverMorales.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .gameOverBox {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    margin-right: 10%;
  }

  .gameOverTxt {
    display: flex;
    text-align: center;
    padding: 10px;
  }

  .boxPages {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    margin-right: 10%;
    max-width: 700px;
  }

  .pngHoland2 {
    max-width: 200px;
    padding-left: 20px;
  }

  .animationHoland2 {
    position: absolute;
    margin-left: 1%;
  }

  .animationHoland3 {
    position: absolute;
    margin-left: 3%;
  }

  .pngHoland3 {
    max-width: 150px;
    margin-left: 35%;
  }

  .animationMorales {
    position: absolute;
  }
  .pngMorales {
    max-width: 100px;
    margin-left: 40%;
  }
}
